<div class="section" id="aboutus">
  <div class="container">
    <h2 class="d-flex justify-content-center titles"> About Us </h2>
    <div class="row ">
      <div>
        <h3 class="d-flex justify-content-center title-h3">
          Who We Are?
        </h3>
        <div class="col d-flex justify-content-center description">
          The Organic Farm Shop offers a friendly shop full of Organic produce,
          and an Organic Café with mainly vegetarian food.
        </div>
        <div id="images">
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-xs-8 col-sm-6 col-md-3 ">
                <img
                  src="assets/img/smothie.jpg"
                  class="img-rounded img-responsive"
                  alt="Rounded Image"
                  height="181px;"
                  width="255px;"
                />
                <div class="img-details">
                  <h4 class="sub-title-img">Fresh food</h4>
                </div>
              </div>
              <div class="col-xs-8 col-sm-6 col-md-3 ">
                  <img
                    src="assets/img/fresh2.jpg"
                    class="img-rounded img-responsive"
                    alt="Rounded Image"
                    height="181px;"
                    width="255px;"
                  />
                  <div class="img-details">
                    <h4 class="sub-title-img">Healthy food</h4>
                  </div>
                </div>
              <div class="col-xs-8 col-sm-6 col-md-3">
                <img
                  src="assets/img/fresh.jpg"
                  class="img-rounded img-responsive"
                  alt="Rounded Image"
                  height="181px;"
                  width="255px;"
                />
                <div class="img-details">
                  <h4 class="sub-title-img">Biologic foods</h4>
                </div>
              </div>
              <div class="col-xs-8 col-sm-6 col-md-3">
                <img
                  src="assets/img/veg.jpg"
                  class="img-rounded img-responsive"
                  alt="Rounded Image"
                  height="181px;"
                  width="255px;"
                />
                <div class="img-details">
                  <h4 class="sub-title-img">organic foods</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="tim-title">
        <h3 class="d-flex justify-content-center title-h3">
            Do You Know Our Team?
        </h3>
      </div>
      <div class="row d-flex justify-content-around">
        <div class=" col-lg-3 col-sm-6">
          <img
            src="assets/img/faces/olfa1.jpg"
            class="img-circle img-no-padding img-responsive"
            alt="Rounded Image"
          />
          <h5 class="text-center font-weight-bold txt1">OLFA MOUSSAOUI</h5>
          <p class="text-center txt2">CEO Oars Store</p>
        </div>
        <div class=" col-lg-3 col-sm-6">
          <img
            src="assets/img/faces/olfa.jpg"
            class="img-circle img-no-padding img-responsive"
            alt="Rounded Image"
          />
          <h5 class="text-center font-weight-bold txt1">joe gardner</h5>
          <p class="text-center txt2">Co-founder Oars Store</p>
        </div>
        <div class=" col-lg-3 col-sm-6">
          <img
            src="assets/img/faces/clem-onojeghuo-3.jpg"
            class="img-circle img-no-padding img-responsive"
            alt="Rounded Image"
          />
          <h5 class="text-center font-weight-bold txt1">clem onojeghuo</h5>
          <p class="text-center txt2">Marketing Responsable </p>
        </div>
      </div>
    </div>
  </div>
</div>
