<div class="main">
  <div class="page-title-breadcrumbs">
    <div class="breadcrumbs-container container">
      <div class="breadcrumbs_wrapper">
        <div class="page-title-container">
          <h1 class="text-center" style="opacity: 0">shop</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="d-flex justify-content-center titles">Details</h2>
    <div class="text-center">
      <h2 class="title-h3">Product Details</h2>
    </div>
    <div class="product-detail-wrap">
      <div class="container">
        <div class="row d-flex flex-wrap product-detail-info">
          <div class="col-md-7 col-sm-12 layout-left">
            <div class="product-image vertical">
              <div class="main-image">
                <img class="w-100" src="assets/img/p.jpg" alt="Product Image" />
              </div>
              <div class="thumb-images">
                <img class="w-100" src="assets/img/p.jpg" alt="Product Image" />
                <img class="w-100" src="assets/img/p.jpg" alt="Product Image" />
                <img class="w-100" src="assets/img/p.jpg" alt="Product Image" />
                <img class="w-100" src="assets/img/p.jpg" alt="Product Image" />
              </div>
            </div>
          </div>

          <div class="col-md-5 col-sm-12 product-information">
            <h1 class="title">Fresh Tomatoes</h1>
            <div class="product-price">
              <h2 class="price">
                <span class="money">$30.00</span>
                <del>
                  <span>$60.00</span>
                </del>
              </h2>
            </div>

            <div class="product-stock management-content d-flex flex-wrap">
              <span class="management-title">Availability:</span>
              <div class="management-description">In Stock</div>
            </div>

            <div
              class="purchase-section multiple d-flex flex-wrap align-items-center"
            >
              <div class="quantity-wrapper clearfix">
                <div class="wrapper d-flex">
                  <input
                    type="number"
                    class="form-control text-center"
                    value="1"
                  />
                </div>
              </div>

              <div class="purchase">
                <button class=" btn button-main" type="submit">
                  Add to cart
                </button>
              </div>
            </div>

            <div class="product-category tags-content d-flex flex-wrap">
              <span class="tag-title">Category:</span>
              <div class="management-description">Fruits</div>
            </div>
            <div class="product-category tags-content d-flex flex-wrap">
              <span class="tag-title">Tags:</span>
              <div class="management-description">organic, oars, fresh</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
