<div class="main">
  <div class="page-title-breadcrumbs">
    <div class="breadcrumbs-container container">
      <div class="breadcrumbs_wrapper">
        <div class="page-title-container">
          <h1 class="text-center" style="opacity: 0">shop</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="d-flex justify-content-center titles">Cart</h2>
    <div class="text-center">
      <h2 class="title-h3">Checklist</h2>
    </div>
    <div class="cart-wrapper">
      <div class="container">
        <div class="cart-section">
          <div class="cart-form">
            <form action="cart" method="post">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product" colspan="2">Product</th>
                      <th class="price">Price</th>
                      <th class="qty">Quantity</th>
                      <th class="total">Total</th>
                      <th class="remove">Remove</th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-template
                      [ngIf]="!shopping_basket || shopping_basket.length === 0"
                    >
                      <h1 style="color: #282828;">Your basket is empty !</h1>
                    </ng-template>
                    <ng-template [ngIf]="shopping_basket">
                      <tr *ngFor="let p of shopping_basket">
                        <td class="image">
                          <div class="product-image">
                            <a href="product-detail.html">
                              <img
                                src="{{ p.product.img_url }}"
                                alt="{{ p.product.name }}"
                              />
                            </a>
                          </div>
                        </td>
                        <td class="image-info">
                          <div class="product-name">
                            <a href="product-detail.html" class="title-black">
                              {{ p.product.name }}
                            </a>
                          </div>
                        </td>
                        <td class="price">
                          <span class="money" data-currency-usd="$100.00"
                            >{{ p.product.price }} $</span
                          >
                        </td>
                        <td class="qty">
                          <div class="quantity-wrapper clearfix">
                            <div class="wrapper d-flex justify-content-center">
                              <input
                                #quantity
                                type="number" min="1"
                                class="form-control text-center"
                                value="{{ p.quantity }}"
                                (change) = "addProd(p, quantity.value)"
                              />
                            </div>
                          </div>
                        </td>
                        <td class="total title-1">
                          <span class="money"
                            >{{ p.quantity * p.product.price }} $</span
                          >
                        </td>
                        <td class="remove">
                          <a
                            role="button"
                            (click)="removeItem(p)"
                            class="cart"
                            style="cursor: pointer;"
                          >
                            <i class="fa fa-times" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                    </ng-template>
                    <tr class="cart-actions">
                      <td colspan="3" class="back-to-shop text-left">
                        <span>
                          <a routerLink='/shop' class="btn view button-main" style='color:white;'>
                            <i
                              class="fa fa-long-arrow-left"
                              aria-hidden="true"
                            ></i>
                            Back To Shop
                          </a>
                        </span>
                      </td>
                      <td colspan="3" class="cart-process text-right">
                        <a
                          class="gsf-link clear-cart btn view button-main1"
                          role="button"
                          (click)="removeStorage()"
                        >
                          <i class="fa fa-times" aria-hidden="true"></i>
                          <span>Clear All</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-lg-10 col-md-12 cart-collaterals mg-top-50">
                  <div class="layout-cart-right">
                    <div class="cart-totals clearfix">
                      <div>
                        <h4 class="woocommerce-block-title mg-top-0">
                          Cart Total
                        </h4>
                        <table
                          class="shop-table"
                          style="margin-bottom: 17.25pt;"
                        >
                          <tbody>
                            <tr class="cart-subtotal">
                              <th>Subtotal</th>
                              <td data-title="Subtotal">
                                <span class="woocommerce-Price-amount amount">
                                  <span class="woocommerce-Price-currencySymbol"
                                    >$</span
                                  >
                                  <ng-template
                                    [ngIf]="subTotal && subTotal > 0"
                                  >
                                    {{ subTotal }}
                                  </ng-template>
                                  <ng-template [ngIf]="!subTotal">
                                    0
                                  </ng-template>
                                </span>
                              </td>
                            </tr>

                            <tr class="cart-subtotal cart-item">
                              <th>Shipping</th>
                              <td data-title="Total">
                                  <span class="woocommerce-Price-amount amount">
                                    <span class="woocommerce-Price-currencySymbol"
                                      >$</span
                                    >6
                                  </span>
                                </td>
                            </tr>

                            <tr class="order-total">
                              <th>Total</th>
                              <td data-title="Total">
                                <span class="woocommerce-Price-amount amount">
                                  <span class="woocommerce-Price-currencySymbol"
                                    >$</span
                                  >
                                  <ng-template [ngIf] = "basketTot!=0">
                                      {{basketTot}}
                                  </ng-template>
                                  <ng-template [ngIf] = "!basketTot">
                                      0
                                  </ng-template>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <ng-template [ngIf] = "submitted">
                            <div class="to-checkout">
                                <a
                                  style='color:white;'
                                  class="checkout-button  btn view button-main"
                                  >Proceed to checkout</a
                                >
                              </div>
                        </ng-template>
                        <ng-template [ngIf] = "!submitted">
                            <div class="to-checkout">
                                <a
                                style='color:white;'
                                  class="checkout-button  btn view button-main" disabled 
                                  >Proceed to checkout</a
                                >
                              </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>