<div class="section" id="contactus">
  <div class="container">
    <h2 class="d-flex justify-content-center titles">Contact Us</h2>
    <div class="row ">
      <div class="col-md-7 col-sm-12 m-b-30">
        <img src="assets/img/aw.png" alt="" class="img-fluid" />
      </div>

      <div class="col-md-5 col-sm-12">
        <div class="page-title color m-bottom-2">
          <div class="title title-icon">
            <h2 class="title-h3">Get In Touch</h2>
          </div>
        </div>

        <div class="header-contact">
          <div class="col padding-0">
            <div class="item d-flex">
              <div class="contact-content">
                <div class="title title-black">
                  <i
                    class="fa fa-map-marker fa-lg"
                    aria-hidden="true"
                    style="color: #91ad41;"
                  ></i>
                  &nbsp; Address:
                </div>
                <p class="description">
                  ISI Ariana, Rue Abourraihan Al Bayrouni, <br />
                  Ariana
                </p>
              </div>
            </div>
          </div>

          <div class="col padding-0">
            <div class="item d-flex">
              <div class="item-right">
                <div class="title title-black">
                  <i
                    class="fa fa-phone fa-lg"
                    aria-hidden="true"
                    style="color: #91ad41;"
                  ></i>
                  &nbsp; Hotline:
                </div>
                <p class="description">
                  (216) 52 17 69 12
                </p>
              </div>
            </div>
          </div>

          <div class="col padding-0">
            <div class="item d-flex last">
              <div class="item-right">
                <div class="title title-black">
                  <i
                    class="fa fa-paper-plane fa-lg"
                    aria-hidden="true"
                    style="color: #91ad41;"
                  ></i>
                  &nbsp; Email:
                </div>
                <div class="description">
                  <a href="mailto:moussaoui.olfa1@gmail.com"
                    >moussaoui.olfa1@gmail.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-map">
      <div class="map">
        <iframe
          src="https://maps.google.com/maps?q=isi%20ariana%20&t=&z=13&ie=UTF8&iwloc=&output=embed"
          style="border:0;width:100%;height:380px;"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
</div>
