<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/juice.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title" color="9BE564">eat well, eat healthy</h1>
                </div>
            </div>
            <h2 class="presentation-subtitle text-center" is="slogan">Health Is Wealth – Eat Natural, Eat Organic</h2>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/diamond.png" class="creative-tim-logo" height='25px'>&nbsp;
            </a>
             Olfa Moussaoui
        </h6>
    </div>
    <div class="main">
           <app-components></app-components> 
    </div>
</div>
