<!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Userful Links</h5>
					<ul class="list-unstyled quick-links">
						<li>
							<a 
							routerLink="/home"
							routerLinkActive="active">
							<i class="fa fa-home"></i>Home</a>
						</li>
						<li>
							<a 
							routerLink="/shop"
							routerLinkActive="active">
							<i class="nc-icon nc-shop"></i>Shop</a>
						</li>
						<li>
							<a
							routerLink="/aboutus"
							routerLinkActive="active">
							<i class="fa fa-id-card-o"></i>About Us</a>
						</li>
						<li>
							<a 
							routerLink="/contactus"
							routerLinkActive="active">
							<i class="fa fa-envelope-o"></i>Contact Us</a>
						</li>
						<li>
							<a
							routerLink="/checklist"
							routerLinkActive="active">
							<i class="fa fa-shopping-cart"></i>Cart</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Follow Us</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://web.facebook.com/olfa.b.fathi"><i class="fa fa-facebook"></i>Facebook</a></li>
						<li><a href="https://www.instagram.com/olfamoussaoui"><i class="fa fa-instagram"></i>Instagram</a></li>
						<li><a href="https://twitter.com/OlfaMoussaoui"><i class="fa fa-twitter"></i>Tweeter</a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i>Pinterest</a></li>
						<li><a href="moussaoui.olfa1@gmail.com"><i class="fa fa-envelope"></i>Email</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Contact Us</h5>
					<ul class="list-unstyled quick-links">
						<li><a><i class="fa fa-phone"></i>Phone: +216 52 17 69 12</a></li>
						<li><a><i class="fa fa-envelope-o"></i>Email: moussaoui.olfa1@gmail.com</a></li>
						<li><a><i class="fa fa-map-marker"></i>Our Location: ISI Ariana, Rue Abourraihan Al Bayrouni, Ariana</a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <div class="credits ml-auto">
                        <span class="copyright">
							© {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Olfa Moussaoui
                        </span>
                    </div>
				</div>
				<hr>
			</div>	
		</div>
	</section>